/* ----------------------> Шрифты <---------------------- */
@font-face {
  font-family: "Euclid";  
  src: url("../fonts/EuclidCircularA-Bold.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: 700;
}  
@font-face {
  font-family: "Euclid";  
  src: url("../fonts/EuclidCircularA-BoldItalic.ttf") format("truetype"); 
  font-style: italic; 
  font-weight: 700;
}  
@font-face {
  font-family: "Euclid";  
  src: url("../fonts/EuclidCircularA-Italic.ttf") format("truetype"); 
  font-style: italic; 
  font-weight: normal;
}  
@font-face {
  font-family: "Euclid";  
  src: url("../fonts/EuclidCircularA-Light.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: 300;
}  
@font-face {
  font-family: "Euclid";  
  src: url("../fonts/EuclidCircularA-LightItaluc.ttf") format("truetype"); 
  font-style: italic; 
  font-weight: 300;
}  
@font-face {
  font-family: "Euclid";  
  src: url("../fonts/EuclidCircularA-Medium.ttf") format("truetype"); 
  font-style: normal;
  font-weight: 500;
}  
@font-face {
  font-family: "Euclid";  
  src: url("../fonts/EuclidCircularA-MediumItalic.ttf") format("truetype"); 
  font-style: italic; 
  font-weight: 500;
}  
@font-face {
  font-family: "Euclid";  
  src: url("../fonts/EuclidCircularA-Regular.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal;
}  
@font-face {
  font-family: "Euclid";  
  src: url("../fonts/EuclidCircularA-SemiBold.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: 600;
}  
@font-face {
  font-family: "Euclid";  
  src: url("../fonts/EuclidCircularA-SemiBoldItalic.ttf") format("truetype"); 
  font-style: italic; 
  font-weight: 600;
}  
/* ----------------------> Шрифты <---------------------- */

/* ----------------------> Цвета <---------------------- */
:root {
  --light:      #fff;
  --blue:       #2773BA;
  --dark-blue:  #004386;
  --red:        #FF0000;
  --old-gold:   #D2AA41;
  --grey:       #A7A9AC;
  --dark:       #2A2A2A;
}
/* ----------------------> Цвета <---------------------- */

/* ----------------------> Очистка и общее <---------------------- */
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-family: "Euclid", normal;
  box-sizing: border-box;
}
*:focus, *:active {
  border: none;
  outline: none;
}

html, body {
  overflow-x: hidden;
  position: relative;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
  overflow: hidden;
}

section {
  width: 100vw;
  height: 615px;
  display: flex;
}
/* ----------------------> Очистка и общее <---------------------- */

/* ----------------------> Общие классы <---------------------- */
.text-light {
  color: var(--light) !important;
}

.text-grey {
  color: var(--grey) !important;
}

.text-dark {
  color: var(--dark) !important;
}

.text-red {
  color: var(--red) !important;
}

.section-header {
  font-size: 40px;
  margin-bottom: 60px;
  font-weight: 700;
  font-family: "Euclid";
}

.section-subtitle {
  font-size: 24px;
  margin-top: 13px;
}

.section-text {
  margin-bottom: 60px;
  font-size: 14px;
}

.section-muted {
  opacity: .6;
}

.btn {
  width: 143px;
  height: 40px;
  border-radius: 4px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.instruction {
  height: 200px;
  color: var(--blue);
}

.instruction__wrapper {
  align-items: center;
}

.instruction-bar {
  display: flex;
  align-items: center;
  width: 100%;
}

.instruction__item {
  font-weight: 400;
  opacity: .7;
}

.instruction__item:first-child {
  opacity: 1; 
  font-weight: 500;
}

.instruction__hr {
  width: 10px;
  height: 1px;
  background-color: var(--blue);
  margin: 0 40px;
  flex: 1 1 auto;
  opacity: .7;
}
.btn-red {
  background-color: var(--red);
  color: var(--light);
}

.btn-light {
  background-color: var(--light);
  color: var(--dark);
}

.btn-grey {
  background-color: var(--grey);
  color: var(--light);
  cursor: pointer;
}

.footer-light {
  background-color: var(--light);
}

.footer-dark {
  background-color: var(--dark);
}

.footer-grey {
  background-color: var(--grey);
}

.footer-grey .footer-menu__link {
  color: var(--light);
}
.footer-grey .footer-down {
  background-color: var(--light);
}

.muted-ico {
  filter: brightness(.5);
}

.wrapper {
  max-width: 970px;
  width: 100%;
  display: flex;
  margin: auto;
}

.section-buttons {
  display: flex;
  gap: 30px;
}

.breadcrumbs {
  margin-top: 150px;
  height: auto;
  font-size: 12px;
}

.breadcrumbs a {
  text-decoration: none;
}

.breadcrumbs a::after {
  content: '/';
}
.breadcrumbs a:last-child::after {
  content: '';
}

.header-burger__patern {
  display: none;
  opacity: 0;
}
@media screen and (max-width: 991px) {
  .instruction__item {
    font-size: 14px;
  }
  .municipalitie__arrow {
    display: none;
  }
}
@media screen and (max-width: 575px) {
  .instruction__hr {
    width: 30%;
    margin: 0;
  }
  .instruction-bar {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px
  }
  .instruction__item {
    font-size: 16px;
  }
}
/* ----------------------> Шапка <---------------------- */
.header {
  position: absolute;
  width: 100vw;
  z-index: 1;
  height: 120px;
}

.header_light a{
  color: var(--light);
}

.link:hover {
  opacity: 0.7;
}

.header_dark a{
  color: var(--dark);
}

.header_dark img {
  filter: brightness(0.5);
}

.header-btn {
  display: none;
}

.header__wrapper {
  height: 100%;
}

.header_left {
  width: 42%;
  align-items: center;
  display: flex;
}

.header_right {
  display: flex;
  width: 58%;
  align-items: center;
}

.navbar-links {
  display: flex;
  padding-left: 0;
  list-style-type: none;
  gap: 30px;
}

.navbar-links__item .link{
  text-decoration: none;
  font-weight: 500;
}

@media screen and (max-width: 575px) {
  .header-btn {
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0);
    color: var(--light);
    cursor: pointer;
    display: block;
    
    position: absolute;
    top: 50px;
    right: 20px;
    height: 24px;
  }
  .header-logo {
    position: absolute;
    top: 23px;
  }
  .header-logo_active {
    filter: brightness(0.5);
  }
  .header-btn_active {
    filter: brightness(0.5);
  }
  .header_active {
    height: 100vh;
    background-color: var(--light);
  }
  .header_active a {
    color: var(--dark);
  }
  .header__wrapper {
    display: flex !important;
    position: relative;
    height: 0;
    z-index: -1;
    background-color: white;
    transition: height .35s;
  }
  
  .burger-stick::before {
    content: '';
    display: block;
    width: inherit;
    height: inherit;
    background-color: white;
    position: relative;
    top: -9px;
  }
  
  .burger-stick::after {
    content: '';
    display: block;
    width: inherit;
    height: inherit;
    background-color: white;
    position: relative;
    top: 6px;
  }
  
  .burger-stick {
    display: block;
    width: 30px;
    height: 3px;
    background-color: white;
  }
  
  .header_right {
    display: block;
    width: 100%;
  }
  .navbar-links {
    display: none;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin-top: 50px;
    position: absolute;
    right: 20px;
    display: block;
    top: -200px;
    transition: .4s;
  }
  .navbar-links__item > .link{
    color: var(--dark);
  }
  .navbar-links_active {
    display: flex;
    color: var(--dark);
  }
  .navbar-logo_active {
    filter: brightness(0.5);
  }
  .navbar-links__item {
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
  }
  .link {
    font-size: 36px;
  }
  
  .header_dark .burger-stick,
  .header_dark .burger-stick::before,
  .header_dark .burger-stick::after{
    background-color: var(--grey);
  }
  
  
  .burger-active .burger-stick,
  .burger-active .burger-stick::before,
  .burger-active .burger-stick::after{
    background-color: var(--grey);
    transition: transform .4s;
  }
  
  .burger-active .header-logo {
    filter: brightness(0.5);
  }
  
  .burger-active .header-burger__patern {
    filter: brightness(0.5);
    width: 1500px;
    position: absolute;
    top: -400px;
    left: -181px;
    transform: rotate(120deg);
    height: 1725px;
    display: block;
    z-index: -5;
  }
  
  .burger-active .burger-stick {
    background-color: rgba(0,0,0, 0);
  }
  
  .burger-active .burger-stick::before {
    transform: rotate(45deg);
    position: relative;
    top: 1px;
    right: 0px;
  }
  .burger-active .burger-stick::after {
    transform: rotate(-45deg);
    position: relative;
    top: -2px;
    left: 0px;
  }
}
/* ----------------------> Шапка <---------------------- */

/* ----------------------> Футер <---------------------- */
.footer {
  height: 200px;
}

.footer-up {
  height: 150px;
  display: flex;
  position: relative;
  background-color: var(--grey);
}
.footer-up a {
  color: var(--light);
}
.footer-up-main {
  background-color: var(--light);
}
.footer-up-main a {
  color: var(--grey);
}
.footer-down {
  height: 50px;
}
.footer-down span {
  color: var(--grey);
}
.footer-down-main {
  background-color: var(--grey);
}
.footer-down-main span {
  color: var(--light);
}
.footer-logo-main {
  filter: brightness(0.5) !important;
}
.footer-light .footer-down {
  background-color: var(--grey);
}

.footer-down__content,
.footer-up__content {
  height: 100%;
  align-items: center;
}

.footer-up__content {
  height: 65px;
}

.footer__body_left {
  width: 42%;
  align-items: center;
  display: flex;
}

.footer__body_right {
  width: 58%;
  align-items: center;
  display: flex;
}

.footer-logo {
  height: 74px;
  width: 56px;
  filter: brightness(1);
}

.footer-menu  {
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
  column-gap: 80%;
  grid-auto-flow: column;
}

.footer-menu__link {
  text-decoration: none;
  font-size: 12px;
}

.footer-links {
  position: absolute;
  top: 40px;
  right: 21%;
  display: flex;
  gap: 10px;
}

.footer-links__item {
  text-decoration: none;
}
@media screen and (max-width: 991px) {
  .footer-logo {
    position: absolute;
    bottom: -40px;
    left: 20px;
    height: 31px;
    width: 23px;
    filter: brightness(0.5);
  }
  .footer-logo-main {
    filter: brightness(1) !important;
  }
  .footer-down__content {
    display: flex !important; 
    align-items: center;
    justify-content: flex-end;
    width: auto;
  }
  .footer-down__content span {
    font-size: 12px;
  }
  .footer-up {
    height: 260px;
  }
  .footer-up__content {
    height: auto;
  }
  .footer-menu {
    display: flex;
    flex-direction: column;
  }
  .footer-menu__link {
    font-size: 16px;
  }
  .footer-links {
    display: flex;
    flex-direction: column;
    top: 70px;
  }
  .footer {
    height: auto;
  }
}
/* ----------------------> Футер <---------------------- */